@use "sass:color";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as *;

.footer {
  background-color: #f6f7f8;
  color: vars.$gray-700;
  padding: 5.5rem 0 0;

  @include tablet-only {
    padding: 4rem 0 0;
  }

  @include mobile {
    padding: 3rem 1.6rem 0;
  }

  & > .container {
    @include mobile {
      padding: 0;
      max-width: 100%;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: 1.2fr 1.5fr 1fr 1fr 1fr;
    gap: 4rem;

    @include desktop {
      gap: 3rem;
    }

    @include tablet-only {
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem 2rem;
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    @include mobile {
      padding: 2rem 0;
      border-bottom: 0.1rem solid vars.$gray-300;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &--logo {
      grid-column: 1;

      @include tablet-only {
        grid-column: 1 / -1;
        align-items: center;
      }

      @include mobile {
        grid-column: 1;
        justify-content: center;
        align-items: center;
      }
    }

    &--contact {
      grid-column: 2;

      @include tablet-only {
        grid-column: 1 / -1;
      }

      @include mobile {
        grid-column: 1;
        align-items: flex-start;
        text-align: left;
      }
    }

    &--admissions {
      grid-column: 3;

      @include tablet-only {
        grid-column: 1;
      }

      @include mobile {
        grid-column: 1;
        align-items: flex-start;
        text-align: left;
      }
    }

    &--student {
      grid-column: 4;

      @include tablet-only {
        grid-column: 2;
      }

      @include mobile {
        grid-column: 1;
        align-items: flex-start;
        text-align: left;
      }
    }

    &--about {
      grid-column: 5;

      @include tablet-only {
        grid-column: 3;
      }

      @include mobile {
        grid-column: 1;
        align-items: flex-start;
        text-align: left;
      }
    }
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @include tablet-only {
      justify-content: center;
    }

    @include mobile {
      justify-content: center;
    }
  }

  &__logo-img {
    width: 7rem;
    height: auto;

    @include mobile {
      width: 5.5rem;
    }
  }

  &__logo-text {
    display: flex;
    flex-direction: column;

    @include mobile {
      text-align: left;
    }
  }

  &__logo-line1 {
    font-family: vars.$font-family-base;
    font-size: vars.$fs-300;
    font-weight: vars.$fw-bold;
    color: vars.$brand-secondary;
    line-height: 1.3;

    @include mobile {
      font-size: vars.$fs-200;
    }
  }

  &__logo-line2 {
    font-family: vars.$font-family-base;
    font-size: vars.$fs-200;
    font-weight: vars.$fw-medium;
    color: vars.$brand-secondary;
    line-height: 1.3;

    @include mobile {
      font-size: vars.$fs-100;
    }
  }

  &__heading {
    font-family: vars.$font-family-base;
    font-size: vars.$fs-350;
    font-weight: vars.$fw-bold;
    line-height: 2rem;
    color: vars.$brand-secondary;
    margin-bottom: 1.1rem;
    padding-bottom: 1.1rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 4.7rem;
      height: 0.1rem;
      background-color: vars.$brand-secondary;
    }

    @include mobile {
      font-size: vars.$fs-300;
      margin-bottom: 1.2rem;
      padding-bottom: 0;

      &::after {
        display: none;
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__list-item {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    margin-bottom: 1.5rem;
    font-family: vars.$font-family-base;
    font-size: vars.$fs-200;
    font-weight: vars.$fw-regular;
    line-height: 2.4rem;
    color: vars.$gray-700;

    .iconify,
    svg {
      font-size: 1.8rem;
      width: 1.8rem;
      height: 1.8rem;
      margin-top: 0.3rem;
      flex-shrink: 0;
      color: vars.$brand-primary;
    }

    strong {
      font-weight: vars.$fw-bold;
      color: vars.$brand-secondary;
    }

    @include mobile {
      line-height: 1.5;
      margin-bottom: 1.2rem;
    }
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    font-family: vars.$font-family-base;
    font-size: vars.$fs-200;
    font-weight: vars.$fw-regular;
    line-height: 3rem;
    color: vars.$gray-700;
    text-decoration: none;
    transition: color vars.$transition-base;

    &:hover {
      color: vars.$brand-secondary;
    }
  }

  &__bottom {
    margin-top: 4rem;

    @include mobile {
      margin-top: 2rem;
      margin-left: -1.6rem;
      margin-right: -1.6rem;
      width: calc(100% + 3.2rem);
    }
  }

  &__connect-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    background-color: vars.$brand-primary;
    padding: 1.8rem 2rem;

    @include mobile {
      flex-direction: column;
      gap: 1.2rem;
      padding: 1.6rem 2rem;
    }
  }

  &__connect-text {
    font-family: vars.$font-family-base;
    font-size: vars.$fs-300;
    font-weight: vars.$fw-semibold;
    color: vars.$color-light;
    white-space: nowrap;

    @include mobile {
      font-size: vars.$fs-200;
      font-weight: vars.$fw-medium;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 1.4rem;
  }

  &__social-link {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background-color: vars.$color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all vars.$transition-base;
    text-decoration: none;

    &:hover {
      background-color: vars.$gray-200;
      transform: scale(1.05);
    }

    .iconify,
    svg {
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
      color: vars.$brand-primary;
    }

    @include mobile {
      width: 2.8rem;
      height: 2.8rem;

      .iconify,
      svg {
        font-size: 1.4rem;
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }
}
