@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as *;

.mobile-title-box {
  display: flex;
  align-items: center;
  gap: vars.$sp-3;
  margin-bottom: vars.$sp-5;

  &__icon {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: vars.$brand-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img {
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
      filter: brightness(0) invert(1);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__overline {
    font-family: vars.$font-family-heading;
    font-size: vars.$fs-caption;
    font-weight: vars.$fw-medium;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: vars.$gray-700;
    margin: 0 0 0.2rem;
  }

  &__title {
    font-family: vars.$font-family-heading;
    font-size: vars.$fs-heading-m;
    font-weight: vars.$fw-bold;
    color: vars.$gray-900;
    margin: 0;
    text-align: left;
  }

  &--filled {
    background-color: vars.$brand-primary;

    .mobile-title-box__icon {
      background-color: vars.$color-light;

      img {
        filter: none;
      }
    }

    .mobile-title-box__title {
      color: vars.$color-light;
      font-size: vars.$fs-heading-xl;
      line-height: 1.3;
    }

    .mobile-title-box__overline {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &--sm {
    .mobile-title-box__icon {
      width: 4rem;
      height: 4rem;

      img {
        width: 2.2rem;
        height: 2.2rem;
      }
    }
  }

  &--lg {
    .mobile-title-box__icon {
      width: 6rem;
      height: 6rem;

      img {
        width: 3.6rem;
        height: 3.6rem;
      }
    }
  }

  &--light {
    .mobile-title-box__icon {
      background-color: vars.$color-light;

      img {
        filter: none;
      }
    }

    .mobile-title-box__overline {
      color: rgba(255, 255, 255, 0.8);
    }

    .mobile-title-box__title {
      color: vars.$color-light;
    }
  }

  &--primary-title {
    .mobile-title-box__title {
      color: vars.$brand-primary;
    }
  }
}
