@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as *;

.stats-section-wrapper {
  padding: vars.$sp-7 0;

  @include mobile {
    padding: vars.$sp-6 0;
  }
}

.stats-section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: vars.$sp-6 vars.$sp-4;

  &--thacsi {
    background-color: vars.$brand-primary;
    background-image: url("/assets/images/thacsi_img2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: vars.$radius-20;
    min-height: 22.5rem;
    display: flex;
    align-items: center;

    @include tablet-up {
      padding: vars.$sp-6 vars.$sp-5;
    }
  }

  .row {
    width: 100%;
    margin: 0;
  }

  .col-6,
  .col-md-3 {
    position: relative;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 0.1rem;
      height: 6rem;
      background-color: rgba(255, 255, 255, 0.2);
      z-index: 1;

      @include tablet-up {
        width: 0.2rem;
        height: 11.8rem;
      }
    }

    &:nth-child(2n)::after {
      @include mobile {
        display: none;
      }
    }

    &:last-child::after {
      display: none;
    }
  }
}

.stat-item {
  position: relative;
  text-align: center;
  padding: vars.$sp-2 0;

  @include tablet-up {
    padding: vars.$sp-4 0;
  }

  &__number {
    font-family: vars.$font-family-base;
    font-size: 3.6rem;
    font-weight: vars.$fw-bold;
    line-height: 1.2;
    color: vars.$color-light;
    margin-bottom: vars.$sp-1;

    @include tablet-up {
      font-size: 6rem;
      margin-bottom: vars.$sp-3;
    }

    @include laptop-up {
      font-size: 8rem;
    }
  }

  &__label {
    font-family: vars.$font-family-base;
    font-size: vars.$fs-body-sm;
    font-weight: vars.$fw-medium;
    line-height: 1.2;
    color: vars.$color-light;
    text-transform: capitalize;

    @include tablet-up {
      font-size: vars.$fs-body;
    }
  }
}
