/* ============================================
   PAGE: Program Detail
   Detailed information page for specific programs
   ============================================ */

@use "../abstracts/variables" as vars;

/* ============================================
   PROGRAM HEADER SECTION
   ============================================ */
.program-header {
  padding: vars.$sp-6 0 vars.$sp-5 0;
  background-color: vars.$color-light;

  &__title {
    font-family: vars.$font-family-heading;
    font-size: vars.$section-title;
    font-weight: vars.$fw-bold;
    line-height: vars.$lh-heading-tight;
    color: vars.$brand-primary;
    text-transform: capitalize;
    margin-bottom: vars.$sp-4;
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: vars.$sp-2;
    margin-bottom: vars.$sp-4;
  }

  &__icon {
    font-size: 1.4rem;
    width: 2.4rem;
    height: 2.4rem;
    color: vars.$gray-500;
    flex-shrink: 0;
    display: inline-block;
  }

  &__date {
    font-family: vars.$font-family-heading;
    font-size: vars.$fs-caption;
    font-weight: vars.$fw-regular;
    line-height: 1.2;
    color: vars.$gray-500;
  }

  &__divider {
    width: 100%;
    height: 0.1rem;
    background-color: vars.$gray-300;
  }
}

/* ============================================
   PROGRAM HERO SECTION
   ============================================ */
.program-hero {
  padding: vars.$sp-6 0;
  background-color: vars.$color-light;

  &__image {
    width: 100%;
    max-width: 120rem;
    height: 46.2rem;
    border-radius: vars.$radius-30;
    display: block;
    margin: 0 auto;
    object-fit: cover;
  }
}

/* ============================================
   PROGRAM DESCRIPTION SECTION
   ============================================ */
.program-description {
  padding: vars.$sp-6 0;
  background-color: vars.$color-light;

  &__title {
    font-family: vars.$font-family-heading;
    font-size: vars.$section-subtitle;
    font-weight: vars.$fw-bold;
    line-height: vars.$lh-heading-tight;
    color: vars.$brand-primary;
    text-transform: capitalize;
    margin-bottom: vars.$sp-4;
  }

  &__content {
    font-family: vars.$font-family-heading;
    font-size: vars.$section-description;
    font-weight: vars.$fw-regular;
    line-height: 1.57;
    color: vars.$gray-900;

    p {
      margin-bottom: vars.$sp-4;
    }
  }

  &__video-intro {
    display: flex;
    align-items: center;
    gap: vars.$sp-2;
  }
}

/* ============================================
   PROGRAM QUALITIES SECTION
   ============================================ */
.program-qualities {
  padding: vars.$sp-6 0;
  background-color: vars.$color-light;

  &__title {
    font-family: vars.$font-family-heading;
    font-size: vars.$section-subtitle;
    font-weight: vars.$fw-bold;
    line-height: vars.$lh-heading-tight;
    color: vars.$brand-primary;
    text-transform: capitalize;
    margin-bottom: vars.$sp-4;
  }

  &__intro {
    font-family: vars.$font-family-heading;
    font-size: vars.$section-description;
    font-weight: vars.$fw-regular;
    line-height: 1.57;
    color: vars.$gray-900;
    margin-bottom: vars.$sp-4;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: vars.$sp-3;

    li {
      display: flex;
      align-items: center;
      gap: vars.$sp-3;
      font-family: vars.$font-family-heading;
      font-size: vars.$section-description;
      font-weight: vars.$fw-regular;
      line-height: 1.2;
      color: vars.$gray-900;
    }
  }
}

/* ============================================
   CAREER IMAGES SECTION
   ============================================ */
.program-careers-images {
  padding: vars.$sp-5 0 vars.$sp-6;
  background-color: vars.$color-light;

  &__img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: vars.$radius-lg;
    margin-bottom: vars.$sp-4;
  }
}

/* ============================================
   RESPONSIVE - TABLET (max-width: 1199px)
   ============================================ */
@media (max-width: 1199px) {
  .program-header__title {
    font-size: vars.$section-title-tablet;
  }

  .program-hero__image {
    height: 36rem;
  }

  .program-description__title,
  .program-qualities__title {
    font-size: vars.$section-subtitle-tablet;
  }

  .program-description__content,
  .program-qualities__intro {
    font-size: vars.$section-description-tablet;
  }
}

/* ============================================
   RESPONSIVE - MOBILE (max-width: 575px)
   ============================================ */
@media (max-width: 575px) {
  .program-header {
    padding: vars.$sp-4 0 vars.$sp-3 0;

    &__title {
      font-size: vars.$section-title-mobile;
      margin-bottom: vars.$sp-2;
    }

    &__meta {
      margin-bottom: vars.$sp-2;
    }
  }

  .program-hero {
    padding: vars.$sp-4 0;

    &__image {
      height: auto;
      aspect-ratio: 16/9;
      border-radius: vars.$radius-lg;
    }
  }

  .program-description {
    padding: vars.$sp-4 0;

    &__title {
      font-size: vars.$fs-450;
    }

    &__content {
      font-size: vars.$section-description-mobile;
    }
  }

  .program-qualities {
    padding: vars.$sp-4 0;

    &__title {
      font-size: vars.$fs-450;
    }

    &__intro {
      font-size: vars.$section-description-mobile;
    }
  }

  .program-careers-images {
    padding: vars.$sp-4 0 vars.$sp-5;

    &__img {
      margin-bottom: vars.$sp-3;
    }
  }
}
