@use "home/hero";
@use "home/about";
@use "home/admission-info";
@use "home/programs";
@use "home/news";
@use "home/faq";
@use "home/statistics";
@use "home/student-life";
@use "home/events";
@use "home/registration";
@use "home/partners";
