/* ============================================
   PAGE: History (Lịch sử hình thành)
   History page with timeline and mission/vision
   ============================================ */

@use "../abstracts/variables" as vars;

/* ============================================
   INTRO SECTION
   ============================================ */
.history-intro {
  padding-top: vars.$sp-8;
  padding-bottom: vars.$sp-8;
  background-color: vars.$color-light;

  &__text {
    max-width: 96.5rem;
    margin: 0 auto;
    font-family: vars.$font-family-base;
    font-size: vars.$section-description;
    font-weight: 400;
    line-height: 2.2rem;
    color: #333333;
    text-align: center;
  }
}

/* ============================================
   LARGE IMAGE SECTION
   ============================================ */
.history-large-image {
  background-color: vars.$color-light;

  &__img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2rem;
  }
}

/* ============================================
   MISSION VISION SECTION
   ============================================ */
.mission-vision {
  padding-top: vars.$sp-8;
  padding-bottom: vars.$sp-8;
  background-color: vars.$color-light;

  &__header {
    text-align: center;
    margin-bottom: vars.$sp-7;
  }

  &__title {
    font-family: vars.$font-family-base;
    font-size: vars.$section-title;
    font-weight: 700;
    line-height: vars.$lh-tight;
    color: vars.$brand-primary;
    text-transform: uppercase;
    margin-bottom: vars.$sp-3;
  }

  &__subtitle {
    font-family: vars.$font-family-base;
    font-size: vars.$section-description;
    font-weight: 400;
    line-height: 1.57;
    color: vars.$gray-800;
    max-width: 80rem;
    margin: 0 auto;
  }
}

.mission-card {
  background-color: vars.$gray-50;
  border-radius: vars.$radius-lg;
  padding: vars.$sp-6;
  height: 100%;

  &__title {
    font-family: vars.$font-family-base;
    font-size: vars.$fs-600;
    font-weight: 700;
    line-height: 1.2;
    color: vars.$brand-primary;
    text-transform: uppercase;
    margin-bottom: vars.$sp-4;
  }

  &__intro {
    font-family: vars.$font-family-base;
    font-size: vars.$section-description;
    font-weight: 400;
    line-height: 1.57;
    color: vars.$gray-800;
    margin-bottom: vars.$sp-4;
  }

  &__subtitle {
    font-family: vars.$font-family-base;
    font-size: vars.$fs-400;
    font-weight: 600;
    line-height: 1.2;
    color: vars.$brand-secondary;
    margin-bottom: vars.$sp-3;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: vars.$sp-2;

    li {
      position: relative;
      padding-left: 2rem;
      font-family: vars.$font-family-base;
      font-size: vars.$section-description;
      font-weight: 400;
      line-height: 1.57;
      color: vars.$gray-800;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.7rem;
        width: 0.6rem;
        height: 0.6rem;
        background-color: vars.$brand-primary;
        border-radius: 50%;
      }
    }
  }

  &--vision {
    background-color: vars.$brand-primary;

    .mission-card__title,
    .mission-card__subtitle,
    .mission-card__intro,
    .mission-card__list li {
      color: vars.$color-light;
    }

    .mission-card__list li::before {
      background-color: vars.$color-light;
    }
  }
}

/* ============================================
   HISTORY GALLERY SECTION
   ============================================ */
.history-gallery {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: vars.$color-light;
  margin-top: 0;

  &__title {
    font-family: vars.$font-family-base;
    font-size: vars.$section-title;
    font-weight: 700;
    line-height: 4.876rem;
    color: vars.$brand-primary;
    text-align: center;
    margin-bottom: 2.9rem;
    text-transform: uppercase;
  }

  /* Gallery Grid - Horizontal Scroll */
  &__grid {
    display: flex;
    align-items: flex-start;
    gap: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: grab;

    &::-webkit-scrollbar {
      display: none;
    }

    &.is-dragging {
      cursor: grabbing;
      scroll-snap-type: none;
      user-select: none;

      * {
        pointer-events: none;
      }
    }
  }

  /* Gallery Item */
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    width: 36.5rem;
    padding: 0 1.4rem;
    scroll-snap-align: start;

    &:first-child {
      padding-left: 2rem;
    }

    &:last-child {
      padding-right: 2rem;
    }
  }

  /* Image Container */
  &__image {
    width: 100%;
    height: 24.8rem;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
      display: block;
    }
  }

  /* Caption */
  &__caption {
    font-family: vars.$font-family-base;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: vars.$brand-primary;
    text-transform: capitalize;
    white-space: nowrap;
    margin: 0 0 0.9rem 0;
    text-align: left;
    width: 100%;
  }

  /* Year */
  &__year {
    font-family: vars.$font-family-base;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.876rem;
    color: transparent;
    text-transform: capitalize;
    white-space: nowrap;
    -webkit-text-stroke: 0.1rem #818181;
    text-align: left;
    margin: 0;
    display: block;
    width: 100%;
  }

  /* Divider */
  &__divider {
    width: calc(100% + 2.8rem);
    margin-left: -1.4rem;
    height: 0.1rem;
    background-color: #eeeeee;
    margin-top: 2.7rem;
    margin-bottom: 2.5rem;
  }

  /* Description */
  &__description {
    font-family: vars.$font-family-base;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: #333333;
    text-transform: capitalize;
    margin: 0;
    text-align: left;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* ============================================
   RESPONSIVE - TABLET (max-width: 1199px)
   ============================================ */
@media (max-width: 1199px) {
  .history-intro__text {
    font-size: vars.$section-description-tablet;
  }

  .history-gallery__title,
  .mission-vision__title {
    font-size: vars.$section-title-tablet;
  }
}

/* ============================================
   RESPONSIVE - MOBILE (max-width: 575px)
   ============================================ */
@media (max-width: 575px) {
  .history-intro {
    padding-top: vars.$sp-5;
    padding-bottom: vars.$sp-5;

    &__text {
      font-size: vars.$section-description-mobile;
      text-align: left;
    }
  }

  .history-large-image__img {
    border-radius: vars.$radius-10;
  }

  .mission-vision {
    padding-top: vars.$sp-6;
    padding-bottom: vars.$sp-6;

    &__header {
      margin-bottom: vars.$sp-5;
      text-align: left;
    }

    &__title {
      font-size: vars.$section-title-mobile;
    }

    &__subtitle {
      font-size: vars.$section-description-mobile;
    }
  }

  .mission-card {
    padding: vars.$sp-4;

    &__title {
      font-size: vars.$fs-500;
    }

    &__intro,
    &__list li {
      font-size: vars.$section-description-mobile;
    }
  }

  .history-gallery {
    padding-top: vars.$sp-5;
    padding-bottom: vars.$sp-5;

    &__title {
      font-size: vars.$section-title-mobile;
    }

    &__item {
      width: 30rem;
      padding: 0 1rem;

      &:first-child {
        padding-left: 1.6rem;
      }

      &:last-child {
        padding-right: 1.6rem;
      }
    }
  }
}
