@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

@use "base/base";
@use "base/typography";

// Components
@use "components/mobile-title-box";
@use "components/header";
@use "components/footer";
@use "components/chat-widget";

// Pages
@use "pages/home";
@use "pages/gioi-thieu";
@use "pages/dai-hoc";
