@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

@use "base/base";
@use "base/typography";

// Components
@use "components/mobile-title-box";
@use "components/header";
@use "components/footer";
@use "components/chat-widget";

// Pages
@use "pages/home";
@use "pages/gioi-thieu";
@use "pages/dai-hoc";
@use "pages/chi-tiet-nganh-hoc";
@use "pages/doi-song-sinh-vien";
@use "pages/doi-song-sinh-vien-chi-tiet" as student-life-detail;
@use "pages/tin-tuyen-sinh";
@use "pages/tin-tuyen-sinh-chi-tiet";
@use "pages/tra-cuu-tuyen-sinh";
@use "pages/ket-qua-tra-cuu";
@use "pages/ket-qua-tim-kiem";
@use "pages/thac-si";
@use "pages/tien-si";
@use "pages/danh-muc-thong-bao";
@use "pages/danh-muc-thong-bao-chi-tiet";
@use "pages/su-kien";
@use "pages/su-kien-chi-tiet";
@use "pages/co-so-vat-chat";
@use "pages/lich-su";
@use "pages/quoc-te";
@use "pages/dktv-tuyen-sinh";
