@use '../../abstracts/variables' as vars;
@use '../../abstracts/mixins' as *;

.events-section {
  padding: vars.$sp-6 0;
  position: relative;

  @include tablet-up {
    padding: vars.$sp-8 0;
  }

  &__title {
    font-family: vars.$font-family-heading;
    font-size: vars.$section-title-mobile;
    font-weight: vars.$fw-bold;
    color: vars.$brand-secondary;
    line-height: vars.$lh-heading-tight;
    text-align: left;
    margin-bottom: vars.$sp-4;

    @include tablet-up {
      font-size: vars.$section-title-tablet;
      color: vars.$brand-primary;
      margin-bottom: vars.$sp-5;
    }

    @include desktop {
      font-size: vars.$section-title;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: vars.$sp-4;

    @include mobile {
      gap: vars.$sp-3;
    }
  }

  &__featured {
    height: 100%;
  }
}

