@use "../../abstracts/variables" as vars;
@use "../../abstracts/mixins" as *;

.news-section {
  background-color: vars.$brand-primary;
  padding: vars.$sp-6 0;

  @include tablet-up {
    padding: vars.$sp-8 0;
  }

  &__wrapper {
    padding: vars.$sp-4 0;
  }

  .section-title {
    text-align: center;
    margin-bottom: vars.$sp-5 !important;
    color: vars.$color-light !important;
  }

  &__grid {
    // Removed redundant grid as it uses Bootstrap row/col in JSX
    display: block;
  }

  &__list {
    // Handled by .news-list class
    display: block;
  }
}

.news-list {
  display: flex;
  flex-direction: column;
  gap: vars.$sp-3;
}

