@use '../../abstracts/variables' as vars;
@use '../../abstracts/mixins' as *;

.partners-section {
  padding: vars.$sp-8 0;

  @include mobile {
    padding: vars.$sp-5 0;
  }

  & > .container {
    border-top: 0.1rem solid vars.$gray-200;
    padding-top: vars.$sp-8;

    @include mobile {
      padding-top: vars.$sp-5;
    }
  }

  &__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: vars.$sp-8;
    flex-wrap: wrap;

    @include mobile {
      flex-wrap: nowrap;
      justify-content: flex-start;
      gap: vars.$sp-3;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      -ms-overflow-style: none;
      padding-bottom: vars.$sp-2;
      margin: 0 -1.6rem;
      padding-left: 1.6rem;
      padding-right: 1.6rem;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__logo-wrapper {
    flex-shrink: 0;
  }

  &__logo {
    height: 5rem;
    width: auto;
    object-fit: contain;
    transition: vars.$transition-base;

    @include mobile {
      min-width: 10rem;
      background-color: vars.$gray-100;
      padding: vars.$sp-3 vars.$sp-4;
      border-radius: vars.$radius-md;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
