@use '../../abstracts/variables' as vars;
@use '../../abstracts/mixins' as *;

.partners-section {
  padding: vars.$sp-8 0;

  @include mobile {
    padding: vars.$sp-5 0;
  }

  & > .container {
    border-top: 0.1rem solid vars.$gray-200;
    padding-top: vars.$sp-8;

    @include mobile {
      padding-top: vars.$sp-5;
    }
  }

  &__logos {
    // Removed redundant mobile flex properties as it uses Bootstrap grid in JSX
    margin-top: vars.$sp-4;
  }

  &__logo-wrapper {
    // Styling handled by Bootstrap grid
  }

  &__logo {
    height: 5rem;
    width: auto;
    object-fit: contain;
    transition: vars.$transition-base;
    display: block;
    margin: 0 auto;

    &:hover {
      transform: scale(1.05);
    }
  }
}
